__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.idea/
.vscode/
*.swp
*.swo
*.pt
*.onnx
*.engine
datasets/images/
datasets/labels/
yolov5-6.2/runs/
temp/
*.log
Thumbs.db
.DS_Store
node_modules/
dist/
